altair==5.2.0
blinker==1.7.0
cachetools==5.3.2
click==8.1.7
gitdb==4.0.11
GitPython==3.1.42
importlib-metadata==7.0.1
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==1.26.4
pandas==2.2.0
pillow==10.2.0
ply==3.11
protobuf==4.25.3
pyarrow==15.0.0
pydeck==0.8.1b0
PyQt5==5.15.10
rich==13.7.0
smmap==5.0.1
streamlit==1.31.1
tenacity==8.2.3
toml==0.10.2
toolz==0.12.1
tzdata==2024.1
tzlocal==5.2
validators==0.22.0
webencodings==0.5.1
zipp==3.17.0
